

@font-face {
    font-family: 'SpaceMonoRegular'; 
    src: url('./assets/fonts/SpaceMono-Regular.ttf');
}

:root {
    --bg-color-primary: #0C0950;
    --font-color-primary: #FBE4D6;
    --title-font-family: "Rock Salt", bold;
    --body-font-family: "Montserrat", serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color-primary);
}


.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    font-weight: 800;
    padding: 4px;
    color: var(--font-color-primary);
    border: none;
    background: transparent;
    cursor: pointer;
}

.hamburger .closeIcon {
    display: none;
}

#hamburger-cross-icon {
    font-size: 60px;
}

#hamburger-icon {
    font-size: 60px;
}

.menu {
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: var(--bg-color-primary);
    color: white;
    list-style: none;
    padding-top: 0px;
}


.showMenu {
    transform: translateY(0);
}  


nav .hamburger:hover {
    color: orange;
}

.body-container {
    background-color: var(--bg-color-primary);
    padding: 0px;
    margin: 0px;
}

.main-hdr-container {
    color: var(--font-color-primary);
    padding: 10px;
}

.content-container {
    color: var(--font-color-primary);
    padding: 10px;
}

body {
    font-family: var(--body-font-family);
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    margin: 0px;
}

.main-hdr {
    font-family: var(--title-font-family);
    font-weight: 600;
    font-size: 100px;
    font-style: normal;
    color: var(--font-color-primary);
    margin: 0px;
    padding: 10px;
}

.section-hdr {
    font-family: "Space Mono", serif;
    font-weight: 1600;
    font-style: normal;
    color: var(--font-color-primary);
}

.sh-slash {
    padding-right: 20px;
    padding-left: 10px;
}

.ss-marker {
    padding-right: 20px;
    padding-left: 10px;
}