

@font-face {
    font-family: 'SpaceMonoRegular'; 
    src: url('./assets/fonts/SpaceMono-Regular.ttf');
}


:root {
    --bg-color-primary: #0C0950;
    --font-color-primary: #FBE4D6;
    --title-font-family: "Rock Salt", bold;
    --body-font-family: "Montserrat", serif;
}

body { min-height: 100%}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color-primary);
}


.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    font-weight: 800;
    padding: 4px;
    color: var(--font-color-primary);
    border: none;
    background: transparent;
    cursor: pointer;
}

.hamburger .closeIcon {
    display: none;
}

#hamburger-cross-icon {
    font-size: 60px;
}

#hamburger-icon {
    font-size: 60px;
}

.menu {
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: var(--bg-color-primary);
    color: white;
    list-style: none;
    padding-top: 0px;
}

.menuItem {
    font-family: var(--body-font-family);
    color: var(--font-color-primary);
}


.showMenu {
    transform: translateY(0);
}  


nav .hamburger:hover {
    color: orange;
}

.body-container {
    background-color: var(--bg-color-primary);
    padding: 0px;
    margin: 0px;
    width: 100vw;  /* Full width of the viewport */ 
    height: 100vh; /* Full height of the viewport */ 
    overflow-y: scroll; /* Vertical scroll */ 
    overflow-x: hidden; /* No horizontal scroll */
}

.main-hdr-container {
    color: var(--font-color-primary);
    padding: 10px;
}

.content-container {
    color: var(--font-color-primary);
    padding: 10px;
}

body {
    font-family: var(--body-font-family);
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    margin: 0px;
}

.main-hdr {
    font-family: var(--title-font-family);
    font-weight: 600;
    font-size: 100px;
    font-style: normal;
    color: var(--font-color-primary);
    margin: 0px;
    padding: 10px;
}

.section-hdr {
    font-family: "Space Mono", serif;
    font-weight: 1600;
    font-style: normal;
    color: var(--font-color-primary);
}

.sh-slash {
    padding-right: 20px;
    padding-left: 10px;
}

.ss-marker {
    padding-right: 20px;
    padding-left: 10px;
}

.links-space li {
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
}

.links-space li a{
    text-decoration: none;
    color: #0C0950;
}

.links-space a{
    text-align: justify;
    width: 100px;
    background-color: #D5F3FE;
    color: inherit;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.links-space a:hover {
    background-color: #555;
}

.links-space a:active {
    background-color: black;
}

.links-space a:visited {
    background-color: #ccc;
}

.tinkering-space li {
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
}

.tinkering-space li a{
    text-decoration: none;
    color: #0C0950;
}

.tinkering-space a{
    text-align: justify;
    width: 100px;
    background-color: #D5F3FE;
    color: inherit;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.tinkering-space a:hover {
    background-color: #555;
}

.tinkering-space a:active {
    background-color: black;
}

.tinkering-space a:visited {
    background-color: #ccc;
}




#menu-wrapper {
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
}


#menu-wrapper #hamburger-menu {
    position: relative;
    width: 25px;
    height: 20px;
    margin: 15px;
}

#menu-wrapper #hamburger-menu span {
    opacity: 1;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    color: black;
    background-color: white;
    position: absolute;
    transform: rotate(0deg);
    transition: .4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0;
}
#menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 9px;
}
#menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 18px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(1) {
    transform: translateY(9px) rotate(135deg);
}
#menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(-60px);
}
#menu-wrapper #hamburger-menu.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-135deg);
}

#menu-container .menu-list .menu-submenu {
    padding-top: 20px;
    padding-bottom: 20px;
}
#menu-container .menu-list {
    padding-left: 0;
    display: block;
    position: absolute;
    width: 100%;
    max-width: 450px;
    background: white;
    box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    left: -100%;
}

#menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
    font-size: 16px;
    padding: 20px;
    text-transform: uppercase;
    border-top: 1px solid #dbdcd2;
}
#menu-container .menu-list li:first-of-type {
    border-top: 0;
}

.accordion-toggle, .accordion-content {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    letter-spacing: 1px;
}

  .accordion-content {
    display: none;
}

.accordion-toggle a:before, .accordion-toggle a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background-color: #5a5858;
    transform-origin: 50% 50%;
    transition: all 0.3s ease-out;
}

.accordion-toggle a:before {
    transform: rotate(-90deg);
    opacity: 1;
    z-index: 2;
}

.accordion-toggle.active-tab {
  background: yellowgreen;
  transition: all 0.3s ease;
}
.accordion-toggle a.active:before {
    transform: rotate(0deg);
    background: #fff !important;
}

.accordion-toggle a.active:after {
    transform: rotate(180deg);
    background: #fff !important;
    opacity: 0;
}